/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&display=swap');
/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

h1, h2, h4 {
  font-family: Inter;
  letter-spacing: 1px;
  font-size:
}

h1 {
  font-size: 28px;
  position: relative;
  top: -62px;
}

h3 {
  font-family: Inter
  letter-spacing: 3px;
  color: white;
  font-weight: lighter;
  text-shadow: 0 0 20px rgb(0 0 0 / 50%);
}

a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  font-size:16px;
  padding: 10px 20px;
  border-radius: 10px;
  position: relative;
  top: 272px;
}

a:hover {
  opacity: 0.7;
  transition: ease 1s;
}

p {
  font-size: 18px;
  opacity: 0.8;
  position: relative;
  top: -92px;
  letter-spacing: 2px;
}

/* Custom design below! */
.banner {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('../images/pexel.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0.8;
  }
  100% {
      opacity: 1;
  }
}

.b-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.c-container {
  background-color: #white;
  height: 435px;
  max-height: 700px;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 1;
  margin-top: 30px;
}

.card {
  background-color: white;
  width: 300px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.card:nth-child(2) {
  background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('../images/feel.jpg');
  background-size: cover;
}

.card:nth-child(1) {
  background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('../images/design.jpg');
  background-size: cover;
}

.card:last-child {
  background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('../images/engineer.jpg');
  background-size: cover;
}

.footer {
  height: 50px;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
  display: inline-block;
  color: white;
  padding: 10px;
  font-size: 24px;
  transition: ease 1s;
}

i {
  transition: ease 1s;
}

i:hover {
  opacity: 0.5;
  transition: ease 1s;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .banner {
    width: 100%;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .banner {
    width: 100%;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .banner {
    width: 100%;
  }
}
